.board{
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-collapse: collapse;
    text-align: center;
}

.row {
    border: 3px solid;
}

#play-again{
    background-color: white;
    border: 2px solid lightblue;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#play-again:hover{
    background-color: lightblue;
    color: white;
}

table td{
    border-left: 3px solid;
    text-align: center;
    width: 33%;
    height: 33%;
    font-size: 50px;
}

.modal{
    position: absolute;
    height: 200px;
    width: 200px;
    font-size: 25px;
}

.bigmodal{
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 75px;
}

#superboardmodal{
    width: 608px;
    height: 610px;
    position: absolute;
    z-index: 20;
    text-align: center;
}

#superboardmodal .result_msg{
    font-size: 95px;
    margin-top: 30%;
    background-color: lightblue;
    font-family: arial;
}

.wrapper{
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 200px;
    position: relative;
}

.wrapper.complete:hover .modal{
    opacity: 0;
    display: none !important;
}

.wrapper.complete .board{
    opacity: 0.2;
}

.wrapper.complete:hover .board{
    opacity: 1;
}

.wrapper.complete .board.active{
    opacity: 1;
}

.board.active td{
    background-color: yellow;
}

.board.active td:hover{
    background-color: lightyellow;
}