.board{
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-collapse: collapse;
    text-align: center;
}

.row {
    border: 3px solid;
}

table td{
    border-left: 3px solid;
    text-align: center;
    width: 33%;
    height: 33%;
    font-size: 50px;
}