@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Outfit:wght@400;700&display=swap');

.content {
    display: block;
    margin: auto;
    width: 50%;
}

.board{
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-collapse: collapse;
    text-align: center;
}

.board-row.top table{
    border-top: none;
}

.board-row.bottom table{
    border-bottom: none;
}

#game0 tr, #game3 tr, #game6 tr{
    border-left: none;
}

#game0 td:first-of-type, #game3 td:first-of-type, #game6 td:first-of-type{
    border-left: none;
}

#game2 tr, #game5 tr, #game8 tr{
    border-right: none;
}

#game2 td:last-of-type, #game5 td:last-of-type, #game8 td:last-of-type{
    border-right: none;
}

.board-row table:first-of-type {
    border-left: none;
}

.board-row table:last-of-type {
    border-right: none;
}

.board-row.bottom table tr:last-of-type {
    border-bottom: none;
}

.row {
    border: 3px solid;
}

#play-again{
    background-color: white;
    border: 2px solid lightblue;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
#play-again:hover{
    background-color: lightblue;
    color: white;
}

table td{
    border-left: 3px solid;
    text-align: center;
    width: 33%;
    height: 33%;
    font-size: 50px;
    font-family: 'Fredoka', sans-serif;
}

.modal{
    position: absolute;
    height: 200px;
    width: 200px;
    font-size: 200px;
    font-family: 'Fredoka', sans-serif;
    top: 36%;
    left: 50%;
    margin: auto 0;
    transform: translate(-50%, -50%);
}

.bigmodal{
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 75px;
}

#superboardmodal{
    width: 608px;
    height: 610px;
    position: absolute;
    z-index: 20;
    text-align: center;
}

#superboardmodal .result_msg{
    font-size: 95px;
    margin-top: 30%;
    background-color: lightblue;
    font-family: arial;
}

#superboardmodal button{
    position: absolute;
    margin-top: 30%;
    margin-left: 46%;
    font-size: 13px;
    font-weight: bold;
}

.wrapper{
    display: block;
    text-align: center;
    width: 200px;
    height: 200px;
    position: relative;
}

.wrapper.complete:hover .modal{
    opacity: 0;
    display: none !important;
}

.wrapper.complete .board{
    opacity: 0.2;
}

.wrapper.complete:hover .board{
    opacity: 1;
}

.wrapper.complete .board.active{
    opacity: 1;
}

.board.active td{
    background-color: yellow;
    cursor: default;
}

.board.active td:hover{
    background-color: lightyellow;
}

.board.active.not-my-turn td{
    background-color: #d44147;
}

.board.active.not-my-turn td:hover{
    background-color: #d44147;
}

tr.row.top {
    border-top: none;
}

.board-row {
    display: flex;
}